[Unit]
Description=gunicorn instance for social-media-api
After=network.target

[Service]
User=emmdev
Group=emmdev
WorkingDirectory=/home/emmdev/app/src
Environment="PATH=/home/emmdev/app/venv/bin"
EnvironmentFile=/home/emmdev/app/.env
ExecStart=/home/emmdev/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main_w_sqlalchemy:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target